[% page_title = 'Sustainability | ESR-REIT' %]
[% page_header ="Statement from our Board" %]
[% page_id = 'sus_message' %]
[% cat_id = 'sus' %]
[% cat_name = 'Sustainability' %]

[% meta_desc = '' %]

[% INCLUDE include_header.tt %]

<div>
  Helloworld
  <ul>
    [% IF ir.var.ir_Download.financials.format.download_count > 0 %]
      <li>Helloworld</li>
      [% END %]
    <li></li>
    <li>2</li>
  </ul>
</div>



[% INCLUDE include_breadcrumb.tt %]
